
 .bg {
  /* float: right; */
 /*  margin-top: 10px;
  display: block;
  z-index: 999;
  clear: both; */
  position: relative;
  top: 10px;
  left: 90%;
} 
/* .clearfix:after{ 
  content: ".";
  display: block;
  clear: both; 
  font-size: 1px;
}  */